<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网上书城</title>
    <% include ../public/cdn.ejs%>
    <link rel="stylesheet" href="../css/commodity.css">
</head>

<body>
    <div class="container-fluid">
        <% include ../public/header.ejs%>
        <div class="container commodity-content">
            <% include ../public/nav.ejs%>
            
        </div>
    </div>
</body>
<script src="../js/index.js"></script>
<script src="../js/commodity.js"></script>
</html>