<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../public/cdn.css.ejs%>
    <link rel="stylesheet" href="../css/login.css">
    <title>网上书城</title>
</head>

<body>
    <div class="wrapper">
        <!-- 登录 -->
        <div class="box box-login">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="userName content">
                        <i class="fa  fa-user icon"></i>
                        <input type="text" placeholder="请输入用户名" id="username">
                         <i id="login-name-drag" class="icon-tip fa"></i>
                        <span  class="tips" id="login-name-tip">以英文字母开头且不少于6位</span>
                </div>
                <div class="password content">
                    <i class="fa  fa-lock icon"></i>
                    <input type="password" placeholder="请输入密码" id="password">
                    <i id="login-pass-drag" class="icon-tip fa"></i>
                    <span  class="tips" id="login-pass-tip">密码不少于6位</span>
                </div>
                <div class="signIn content">
                    <button id="signin-btn" class="btn">SIGN IN</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="forgat-password">Forget password ?</a>
                <a href="#" class="Login" id="sign-up">Sign up</a>
            </div>
        </div>
        <!-- 注册 -->
        <div class="box box-register">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="register-userName content">
                    <i class="fa  fa-user icon"></i>
                    <input type="text" placeholder="请输入用户名" id="register-name">
                    <i id="register-name-drag" class="icon-tip fa"></i>
                    <span  class="tips" id="register-name-tip">以英文字母开头，不少于6位</span>
                </div>
                <div class="register-phone content">
                    <i class="fa  fa-phone icon"></i>
                    <input type="text" placeholder="请输入手机号" id="register-phone">
                    <i id="register-phone-drag" class="icon-tip fa"></i>
                    <span id="register-phone-tip" class="tips">可用于找回密码</span>
                </div>
                <div class="register-password content">
                    <i class="fa  fa-lock icon"></i>
                    <input type="password" placeholder="请输入密码" id="register-password">
                    <i id="register-pass-drag" class="icon-tip fa"></i>
                    <span id="register-pass-tip" class="tips ">密码不少于6位</span>
                </div>
                <div class="register-sex content">
                    <i class="fa  fa-intersex  icon"></i>
                    <input type="text" placeholder="请输入性别" id="register-sex">
                    <i id="register-sex-drag" class="icon-tip fa "></i>
                    <span id="register-sex-tip" class="tips ">男/女</span>
                </div>
                <div class="signUp content">
                    <button class="btn" id="register-btn">SIGN UP</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="signup-return-login">Return?</a>
            </div>
        </div>
        <!-- 找回密码 -->
        <div class="box box-retrieve">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="register-userName content">
                    <i class="fa  fa-user icon"></i>
                    <input type="text" placeholder="请输入您的用户名" id="retrieve-name">
                    <i id="retrieve-name-drag" class="icon-tip fa "></i>
                    <span id="retrieve-name-tip" class="tips">您需要找回的用户名</span>
                </div>
                <div class="register-phone content">
                    <i class="fa  fa-phone icon"></i>
                    <input type="text" placeholder="请输入您的手机号" id="retrieve-phone">
                    <i id="retrieve-phone-drag" class="icon-tip fa "></i>
                    <span id="retrieve-phone-tip" class="tips">注册时的手机号</span>
                </div>
                <div class="register-password content">
                    <i class="fa  fa-lock icon"></i>
                    <input type="password" placeholder="请输入新密码" id="new-password">
                    <i id="retrieve-pass-drag" class="icon-tip fa "></i>
                    <span id="retrieve-pass-tips" class="tips "></span>
                </div>
                <div class="retrieve-signIn content">
                    <button class="btn" id="retrieve-btn">RETRIEVE</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="retrieve-return-login">Return ?</a>
            </div>
        </div>


    </div>
    <% include ../public/cdn.js.ejs%>
    <script src="../js/login.js"></script>
</body>

</html>