<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../js/tips.js"></script>
    <script src="../js/util.js"></script>
    <title>网上书城</title>
</head>

<body>
    <div class="wrapper">
        <!-- 登录 -->
        <div class="box box-login">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="userName content">
                        <div class="img1 form-img"></div>
                        <input type="text" placeholder="请输入用户名" id="username">
                        <span id="login-uname-tips" class="tips err-tips">格式不正确</span>
                </div>
                <div class="password content">
                    <div class="img2 form-img"></div>
                    <input type="password" placeholder="请输入密码" id="password">
                </div>
                <div class="signIn content">
                    <button id="signin-btn" class="btn">SIGN IN</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="forgat-password">Forget password ?</a>
                <a href="#" class="Login" id="sign-up">Sign up</a>
            </div>
        </div>
        <!-- 注册 -->
        <div class="box box-register">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="register-userName content">
                    <div class="img1 form-img"></div>
                    <input type="text" placeholder="请输入用户名" id="register-name">
                    <span id="register-name-tips" class="tips">以英文字母开头，不少于6位</span>
                </div>
                <div class="register-emial content">
                    <div class="img1 form-img"></div>
                    <input type="text" placeholder="请输入邮箱" id="register-emial">
                    <span id="register-emial-tips" class="tips">可用于找回密码</span>
                </div>
                <div class="register-password content">
                    <div class="img2 form-img"></div>
                    <input type="password" placeholder="请输入密码" id="register-password">
                    <span id="register-pass-tips" class="tips ">密码不少于6位</span>
                </div>
                <div class="signUp content">
                    <button class="btn" id="register-btn">SIGN UP</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="signup-return-login">Return?</a>
            </div>
        </div>
        <!-- 找回密码 -->
        <div class="box box-retrieve">
            <div class="logo" id="logo"></div>

            <div class="box-content">
                <div class="userName content">
                    <div class="img1 form-img"></div>
                    <input type="text" placeholder="请输入您的邮箱" id="retrieve-emial">
                    <span id="retrieve-tips" class="tips">您注册时所用的邮箱</span>
                </div>
                <div class="password content">
                    <div class="img2 form-img"></div>
                    <input type="password" placeholder="请输入新密码" id="new-password">
                </div>
                <div class="signIn content">
                    <button class="btn" id="retrieve-btn">RETRIEVE</button>
                </div>
            </div>

            <div class="image">
                <div class="leftImg twoImg"></div>
                <div class="rightImg twoImg"></div>
            </div>

            <div class="bottom">
                <a href="#" class="Forget" id="retrieve-return-login">Return ?</a>
            </div>
        </div>


    </div>
    <script src="../js/login.js"></script>
</body>

</html>