<!-- header -->
<div class="row header">
    <!-- 头部导航 -->
    <div class="header-nav">
        <div class="nav-login">
            欢迎光临本书店，请<a href="/login">登录</a>成为会员
        </div>
        <a href="#" class='nav-personal'>个人中心</a>
    </div>
    <div class="header-seach">
        <div class="seach-content">
            <div class="seach-content-logo"></div>
            <div class="seach-contnet-input">
                <input type="text" placeholder="请输入搜索信息">
                <button>搜索</button>
            </div>
        </div>
    </div>
    <div class="seach-contnet-input" id="fixed">
        <input type="text" placeholder="请输入搜索信息">
        <button>搜索</button>
    </div>
</div>