<!-- nav -->
<div class="row container-nav">
    <ul id="nav-content">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/literature">文学艺术</a>
            <ul class="nav-two-content">
                <li> <a href="/literature/comic">动漫</a> </li>
                <li> <a href="/literature/biography">传记</a> </li>
                <li> <a href="/literature/litera">文学</a> </li>
                <li> <a href="/literature/poetry">诗词</a> </li>
                <li> <a href="/literature/art">艺术</a> </li>
            </ul>
        </li>
        <li>
            <a href="/children">儿童图书</a>
            <ul class="nav-two-content">
                <li> <a href="/children/0-2">0-2岁</a> </li>
                <li> <a href="/children/3-6">3-6岁</a> </li>
                <li> <a href="/children/7-10">7-10岁</a> </li>
                <li> <a href="/children/11-14">11-14岁</a> </li>
            </ul>
        </li>
        <li>
            <a href="/humanity">人文社科</a>
            <ul class="nav-two-content">
                <li> <a href="/humanity/ancient">古籍</a> </li>
                <li> <a href="/humanity/politice">政治</a> </li>
                <li> <a href="/humanity/military">军事</a> </li>
                <li> <a href="/humanity/law">法律</a> </li>
                <li> <a href="/humanity/psychology">心理</a> </li>
            </ul>
        </li>
        <li>
            <a href="/science">科学技术</a>
            <ul class="nav-two-content">
                <li> <a href="/science/it">程序设计</a> </li>
                <li> <a href="/science/office">办公软件</a> </li>
                <li> <a href="/science/scien">科学技术</a> </li>
            </ul>
        </li>
        <li>
            <a href="/economic">经管理财</a>
            <ul class="nav-two-content">
                <li> <a href="/economic/management">经济管理</a> </li>
                <li> <a href="/economic/investment">投资理财</a> </li>
                <li> <a href="/economic/marketing">市场营销</a> </li>
            </ul>
        </li>
        <li>
            <a href="/life">阅享生活</a>
            <ul class="nav-two-content">
                <li> <a href="/life/health">养生</a> </li>
                <li> <a href="/life/travel">旅游</a> </li>
                <li> <a href="/life/beauty">美妆</a> </li>
                <li> <a href="/life/cook">烹饪</a> </li>
                <li> <a href="/life/fetal">胎教</a> </li>
            </ul>
        </li>
    </ul>
</div>